[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = appearance.cfg

# Path to python file. Can use relative path from here.
python_file = CppPythonAgent.py

# Name of the bot in-game
name = ReddOnTheCrack

# Set path to your bot exe here
# On Windows (MSVC Release build): ../build/Release/rlbot.exe
# On Linux: ../build/rlbot
[Bot Parameters]
cpp_executable_path = ../build/Release/rlbot.exe